---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

h1 { 
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
  font-size: 23px; font-style: normal; font-variant: normal; 
  font-weight: bold; line-height: 23px; 
} 
h3 { 
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
  font-size: 17px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 23px; 
}
p { 
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
  font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; 
} 
blockquote { 
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
  font-size: 17px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; 
} 
pre { 
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 11px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; 
}

// Our variables
$base-url: "{{ site.baseurl }}";
$base-font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
$base-font-size: 24px;
$base-font-style: normal;
$base-font-weight: 400;
$bold-font-weight: bold;
$h1-font-size: 50px;
$h3-font-size: 27px;
$blockquote-font-size: 27px;
$pre-font-size: 21px;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 23px;

$spacing-unit: 32px;

$text-color: #191a22;
$background-color: #fbfbf8;
$header-bg-color: #fee1c3;
$footer-bg-color: #d89cb0;
$brand-color: #697a6a;

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

$on-mobile: 500px;
$on-laptop: 800px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base", "layout", "site", "work", "blog", "post", "404";
